# Binaries
*.exe
*.out
bin/

# Dependencies
vendor/

# Test binary
*.test

# IDE specific files
.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
*.swp

# My files
/data/corpus/sources
/data/config/hieamtsrn.pin
/data/layouts/enthium-promax.klf
/data/layouts/northeast.klf
/data/layouts2
*-opt*.klf
*-best*.klf
*-flipped*.klf
_cleanuipman
/keycraft
/main
/*.log
*.go.bak
/*.prof
/*.txt
/logs/
/*.html
/*.csv
/*.conf
/*.mmdb
/*.js
/*.kb
/*.klf
/cmini/
authors.json
likes.json
run.jsonl
.gemini/*
